* {
    box-sizing: border-box;
    margin: 0;
	padding: 0;
}




.main {
    max-width: 702px;
    border: 2px solid #99a3b1;
    border-radius: 2px;
    overflow: hidden;
    background: #dddfe1;
}

.main__title {
    line-height: 34px;
    font-size: 22px;
    text-align: left;
    padding: 24px 20px;
    font-family: 'Limelight', cursive;
}

.main__text {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 20px 20px;
}

.main__fotter--items {
    display: flex;
    justify-content: space-between;
}

.main__footer {
    margin-bottom: 20px ;
}

.main__fotter--item {
    display: flex;
    position: relative;
    
}

.footer--item1,
.footer--item2,
.footer--item3 {
    padding-left: 45px;
    font-style: italic;
}

.footer--item1::before {
    content: "";
    background-image: url(/images/user.png);
    position: absolute;
    width: 16px;
    height: 16px;
    left: 22px;
}

.footer--item2::before {
    content: "";
    background-image: url(/images/heart.png);
    position: absolute;
    width: 18px;
    height: 16px;
    left: 135px;
}

.footer--item3::before {
    content: "";
    background-image: url(/images/bubble.png);
    position: absolute;
    width: 18px;
    height: 16px;
    left: 215px;
}

.main__fotter--item2 {
    padding-right: 45px;
    font-style: italic;
    color: red;
    font-weight: bold;
}


/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

span {
    font-weight: 700;
}

.price {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.price__title {
    padding: 5px 40px 56px;
    background-color: #f6f8fa;
    font-family: 'Limelight', cursive;
}

.price__item {
    width: 250px;
    text-align: center;
    position: relative;
    border: 1px solid black;
    
}

.price__item :nth-last-child(4){
    border-right: none;
}

.price__description--items {
    padding-top: 50px;
}

.price__description--item {
    padding: 10px 0;
}

.price__sum {
    position: absolute;
    border-radius: 50%;
    padding: 30px;
    left: 84px;
    top: 42px;
    background-color: #e3e4e8;
}

.price__button {
    padding: 12px 35px;
    margin: 10px 0 40px;
    border: none;
    border-radius: 4px;
    background-color: #e3e4e8;
    cursor: pointer;
    font-weight: 700;
}

.hover:hover {
    background-color: #ed5565;    
}

.hover2:hover {
    background-color: #da4453;
}